attrs==23.2.0
Automat==22.10.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==42.0.8
ctrader_open_api==0.9.2
hyperlink==21.0.0
idna==3.7
incremental==24.7.1
inputimeout==1.0.4
Jinja2==3.1.4
MarkupSafe==2.1.5
MetaTrader5==5.0.4424
numpy==1.22.4
pandas==2.2.2
pdoc==14.6.0
protobuf==3.20.1
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
schedule==1.2.2
six==1.16.0
tomli==2.0.1
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
zope.interface==6.4.post2
